
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Left & Right alignment */

.left { float:left;}
.right { float:right;}
.clear {clear:both;}
.table {display:table;}
.wrapper {width:100%; overflow:hidden;}
.relative {position:relative;}
.absolute {position:absolute;}

/* Global properties ======================================================== */
body, html {height:100%;}

body{ background:#0d0d0e url(../images/top_bg.jpg) top left repeat-x ;border:0; font: 12px Arial, Helvetica, sans-serif; color:#cecece; line-height:18px; min-width:1000px; position:relative; overflow:hidden;}


.spinner{ position:absolute; z-index:99; background:url(../images/loader.gif) 50% 50% no-repeat #0d0d0e; width:100%; height:100%; top:0; left:0}

.extra {min-width:1000px;;min-height:100%; height:auto !important; height:100%; margin: 0 auto -52px; background:url(../images/grad1.html) 50% 50% no-repeat}
.main1 {width: 100%; height:638px; position:relative;}

.main2 {width: 100%; height:47px; position:relative;}
.top1 {float:left; padding:15px 0 0 30px; font-family:Trebuchet MS; letter-spacing:1px; font-weight:bold; text-decoration:none; font-size:12px; color:#85878f; text-transform:uppercase;}
.top1 a { color:#85878f; text-decoration:none;}
.top1 a:hover { color:#fff; text-decoration:none;}

.top2 { height:47px; float:right}


.main3 {width: 100%; height:2px; position:relative; background:#404146;}
.main4 {width: 100%; height:589px; position:relative;}


.logo1 { width:424px; height:104px;position:absolute; top:162px; left:110px; z-index:2; background:url(../images/logo_bg.png); text-align:center;}
.logo1 a { display:block; width:424px; height:104px; text-decoration:none;}
.txt1 { font-family:TrajanProBold; font-weight:normal; font-size:14px; color:#a0a0a0; padding-top:20px;}
.txt2 { font-family:TrajanProBold; font-size:35px; color:#fff; padding-top:20px;}

.thumbvr { position:absolute; z-index:1; top:432px; left:0px; width:100%; height:176px;background:url(../images/slide_px.png) repeat-x; }
.thumbvr ul{ height:176px;overflow:hidden;}
.thumbvr li{float:left;	margin:22px 3px 0; overflow:hidden;}

.girl1 { width:100%; height:578px; background:#28292d url(../images/girl1.jpg) top right no-repeat; position:absolute; top:0; left:0; z-index:0;}



.block {height:52px;}

.bot1 { height:52px; position:relative; z-index:10; background:url(../images/bot_px1.gif);}

.bot2 { height:52px; float:left}

.copyright{margin-top:15px; text-align:left; padding-left:10px; color:#8b8b8b;}
.copyright a { color:#fff;}

.bot3 { height:52px; float:right; position:relative;}

.follow{ padding-top:10px; padding-right:5px; margin-left:10px;  }
.follow img { margin-right:10px}




/* ============================= main menu ====================== */

#menu { }

#menu > li {position:relative; height:47px; width:120px; float:left;font-family:Trebuchet MS;}
#menu > li > a{ display:block;height:47px; width:120px; text-decoration:none; position: relative; overflow:hidden; text-align:center; letter-spacing:1px; }
#menu > li > a span{ display:block;position: absolute; z-index:1; width:120px; height:47px; background:#404146;left: 0px; top:0px;}
#menu > li > a strong{ display:block;font-size:16px; line-height:47px;text-decoration:none; color:#9b9da5; padding-top:0px;position: absolute; z-index:2; width:120px;left: 0px; top:0px;}
#menu > li > a:hover strong {color:#fff}


.submenu{ position:absolute; z-index:30; top:47px; left:0px; letter-spacing:0px; }
.submenu ul{ position:relative; background:#404146;}
.submenu li{ position:relative; width:120px; height:28px; text-align:left; font-family:Trebuchet MS; font-weight:bold; }
.submenu li a{height:28px; width:120px; display:block; font-size:16px; color:#9b9da5; text-decoration:none; position: relative; overflow:hidden;}
.submenu li a span{position: absolute; z-index:1; background:#ffffff; height:28px; width:165px;left: 0px; top:0px;}
.submenu li a p{position: absolute; z-index:2;left: 10px; top:0px; line-height:28px;}

.submenu li a:hover { color:#000;}


/* ============================= main layout ====================== */

.main5 { position:absolute; z-index:10; top:0px; left:0px; width:100%; height:578px;}



#content{ height:578px; overflow:hidden; width:100%; position:relative; margin-bottom:0px;}
#content > ul{ position:relative; z-index:6; top:0; height:578px;}
#content > ul > li{ width:100%;}

.box { padding:25px 0 0 60px; width:640px; height:553px; background:url(../images/content_bg.png);}



.col1, .col2, .col3, .col4  { float:left;}

.col0{ width:580px;}
.col1{ width:280px;}
.col2{ width:260px;}
.col3{ width:290px;}
.col4{ width:620px;}






.pad_left1{ padding-left:20px;}
.pad_left2{ padding-left:30px;}
.pad_left3{ padding-left:40px;}




a{ color:#fff; text-decoration: underline; outline:none}
a:hover{ text-decoration: none}

h2{ font-size:24px; color:#fff; line-height: 24px; padding:15px 0 10px 0;  font-family:TrajanProBold; letter-spacing:0px; }
h3{ font-size:14px; color:#c8c8c8; line-height: 22px; padding:5px 0 5px 0;  font-family:TrajanProBold; letter-spacing:1px; }

.upper{ text-transform:uppercase;}

p.text { padding:5px 0;}
strong.color1 { color:#FFFFFF;}


.img1 {margin-bottom:10px; margin-left:15px;}
.img2 {margin-bottom:20px; margin-right:15px;}
.img3 {margin-bottom:15px;}


.gmap { margin-right:20px;}

.border1 {border: 3px solid #cccccc;}

.photo1 { width:193px; height:124px; position:relative; }
.photo1 a img {position:relative; z-index:2;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.photo1 a span{position:absolute;z-index:2; margin:0px 0 0 0px; top:0;left:0; background:url(../images/photo_over.png) 50% 50% no-repeat #000; width:100%; height:100%;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}

.button1{ display:inline-block; font-size:16px; text-transform:uppercase; color:#9b9da5; height:25px; line-height:25px; padding:0 15px; position:relative; background:#404146; text-decoration:none; margin-top:10px; text-align:center; font-family:Trebuchet MS;letter-spacing:1px;  }
.button1 span{ background:#595a60; position:absolute; top:0; left:0; width:100%; height:100%;}
.button1 strong{ position:relative; color:#9b9da5!important;}
.button1:hover strong { color:#fff!important; text-decoration:none;}

.video1 {position:relative; margin-bottom:20px; margin-right:15px;border: 3px solid #cccccc;}
.video1 img {position:relative; z-index:2;}
.video1 span{position:absolute; z-index:2; margin:0px 0 0 0px; top:0; left:0; background:url(../images/video_over.png) 50% 50% no-repeat #000; width:100%; height:100%;}
.video1 .img_act{ position:absolute; z-index:2; right:0; bottom:0;}

.disk1{ background:url(../images/li_st1.png) 5px 10px no-repeat; color:#FFFFFF; padding-left:20px; text-decoration:none; line-height:28px; }
.disk1 a{ text-decoration:underline; color:#fff;}
.disk1 a:hover{ text-decoration:none; color:#fff;}

.photo2 { width:171px; height:140px; position:relative; margin-right:20px; margin-bottom:20px; float:left; }
.photo2 a img {position:relative; z-index:2; border: 3px solid #cccccc; margin-left:0px; margin-top:0px; }
.photo2 a:hover img{border: 3px solid #fff!important;margin-left:0px; margin-top:0px; }
.photo2 a span{position:absolute;z-index:2; margin:3px 0 0 3px; top:0;left:0; background:url(../images/photo_over.png) 50% 50% no-repeat #000; width:100%; height:100%;}

.vid2 { padding-bottom:40px; width:250px;  float:left; }

.video2 { width:241px; height:150px; position:relative;margin-bottom:15px; }
.video2 a img {position:relative; z-index:2; border: 3px solid #404146; }
.video2 a:hover img{border: 3px solid #cccccc!important;}
.video2 a span{position:absolute;z-index:2; margin:3px 0 0 3px; top:0;left:0; background:url(../images/video_over.png) 50% 50% no-repeat #000; width:100%; height:100%;}







/*===================== Scroll =====================*/

.scroll{height:520px; width:580px; overflow:hidden; position:relative;}
.track{ background: #404146; left:600px; top:0px; width:13px; position:absolute; height:520px; padding:0 0;}
.shuttle{ width:9px; height:85px; left:2px; background: #cecece; }
._up-butt{ width:0px; height:0px; display:none }
._down-butt{ width:0px; height:0px; display:none }






/*================= Contacts =========================*/
.notification_error{ height: auto;width:310px;padding: 2px;background: #404146; text-align: left; color:#f00; border: 1px solid #5d5d60; margin-bottom:5px}
.notification_ok{ border: 0px ; height: auto; width:310px; padding: 8px; background: #404146; text-align: center;} 
 .info_fieldset legend { border: 1px #5d5d60 solid;  color: #fff;   font: 12px  Arial;  padding: 2px 5px 2px 5px; }

/* Label */
label  { width: 200px; padding:10px 0 5px 0; height:35px;color:#fff; line-height:22px}

/* Input, Textarea */
input{ margin: 0px; padding: 3px;   border: 1px solid #5d5d60;  color: #fff; background:#404146; font: 12px Arial, Helvetica, Arial, sans-serif; height:30px; margin-bottom:5px; width:240px; line-height:22px;}

textarea{margin: 0px; padding: 3px;   background:#404146; border: 1px solid #5d5d60;  color: #fff;   font: 12px Arial, Helvetica, Arial, sans-serif; height:90px; margin-bottom:5px; width:330px; line-height:22px;}

.pinn { border:0; background:#404146; display:block; text-align:center; line-height:25px; font-weight:bold; text-decoration:none; width:87px; height:30px; color:#9b9da5; font-size:16px; margin-top:10px; cursor:pointer; font-family:Trebuchet MS; text-transform:uppercase; letter-spacing:1px; }
.pinn:hover{ background:#595a60; color:#FFFFFF;}

#note {
	position:absolute;
	z-index:2;
	width:100px;
	left: 270px;
	top: 260px;
}

.cf { height:320px;}



/* Generated by Font Squirrel (http://www.fontsquirrel.com)  */



@font-face {
    font-family: 'TrajanProBold';
    src: url('trajanpro-bold-webfont.eot');
    src: url('trajanpro-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('trajanpro-bold-webfont.woff') format('woff'),
         url('trajanpro-bold-webfont.ttf') format('truetype'),
         url('trajanpro-bold-webfont.svg#TrajanProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}